// - - - - - - - - - - - - - - - - - -

// Portfolio

// - - - - - - - - - - - - - - - - - -

.port-title{
	text-align:center;
	
}
.portfolio {
	padding: 0 $grid-spacing/2;
}

.portfolio-wrap {
	position: relative;
	margin: 0 auto;
	padding: 0 30px;
	max-width: 700px;

	@include mq(phonel){
		padding:0;
		max-width:95%;
	}

	@include mq(tabletp) {
		padding: 0;
		max-width: 80%;
	}

	@include mq(tabletl) {
		max-width: 75%;
	}

	@include mq(laptop) {
		max-width: 45%;
	}

	@include mq(desktop) {
		max-width: 45%;
	}

}

.portfolio-item {
	position: relative;
	padding: $grid-spacing/2;
	float: left;
	width: 50%;

	@include mq(phonel){
		padding:0;
		width: 90%;
	}
}

.portfolio-item__link {
	position: relative;
	display: block;
	padding:15px;

	&:hover {

		.portfolio-item__content {
			opacity: 1;
			visibility: visible;
		}

		.port-title{
			visibility: hidden;
		}
	}
}

.portfolio-item__image {
	width: 100%;
	border: solid #e9e9e9 1px;
}

.portfolio-item__content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba($overlay-background-color, $overlay-opacity);

	opacity: 0;
	visibility: hidden;
	@include transition(all 0.2s ease-in-out);
}

.portfolio-item__info {
	text-align: center;
	margin:5px;
}

.portfolio-item__title {
	color: $overlay-text-color;
	font-size: $grid-item-title-small;
	font-weight: $grid-item-title-weight;
	letter-spacing: $grid-item-title-spacing;

	@include mq(tabletp) {
		font-size: $grid-item-title-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-title-large;
	}
}

.portfolio-item__subtitle {
	margin-top: 5px;
	color: rgba($overlay-text-color, 0.7);
	font-size: $grid-item-subtitle-small;
	font-weight: $grid-item-subtitle-weight;
	letter-spacing: $grid-item-subtitle-spacing;

	@include mq(tabletp) {
		font-size: $grid-item-subtitle-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-subtitle-large;
	}
}
